.clock {
    flex: 1;
}

.app {
    margin: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeLineContainer {
    display: flex;
    align-items: flex-end;
}

.timeSelectorContainer {
    position: relative;
}

.timLineControlsContainer {
    margin-bottom: 10px;
}