.clock {
    flex: 1;
}

.app {
    margin: 10px;
}

.btnContainer {
    margin-left: 10px;
    height: 25px;
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.btnContainer > div {
    height: 100%;
}

.btnContainer button {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeLineContainer {
    display: flex;
    align-items: flex-end;
}

.timeSelectorContainer {
    position: relative;
}