.clock {
    flex: 1;
}

.app {
    margin: 10px;
}

.btnContainer {
    margin-left: 10px;
    display: inline-block;
}

.header {
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}