.btnLeft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.btnRight {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btnCenter {
    border-radius: 0;
    border-right: none;
}

button.iconButtonSmall {
    width: 30px;
    height: 30px;
}