.hour {
  display: inline-block;
  width: 25px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.timeLineBorderRight {
  /* border-right: 1px solid #ccc; */
  /* border-radius: 0 5px 5px 0; */
}

.timeLineBorderLeft {
  /* border-left: 1px solid #ccc; */
  /* border-radius: 5px 0 0 5px; */
}

.container {
  display: inline-block;
  width: max-content;
  font-size: 16px;
  max-width: calc(25px * 24);
  white-space: nowrap;
  overflow: hidden;
}

.timeLine {
  display: inline-block;
  cursor: default;
  transform: translateX(-33.33333%);
  transition: all 0.15s;
}

.timeLineNotes {
  line-height: 0;
  min-height: 10px;
}

.hourNote {
  display: inline-block;
  width: 25px;
  font-size: xx-small;
  line-height: initial;
}