.hour {
  display: inline-block;
  width: 25px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: 200;
  background-color: #E8EAF6;
}

.timeLineBorderRight {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

.timeLineBorderLeft {
  border-left: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.container {
  display: inline-block;
  width: max-content;
  font-size: 16px;
  margin-top: 10px;
}

.timeLine {
  display: inline-block;
  cursor: default;
}

.nightHour {
  background-color: #C5CAE9;
}

.hourMidnight {
  background-color: #A8AAA6;
}

.currentHour {
  background-color: #3F51B5;
  color: white;
  font-weight: 500;
  border-color: #3F51B5;
}

.timeLineInfo {
  margin-left: 10px;
  font-style: italic;
  color: #BBBBBB;
}