.typeAheadOptions {
    position: fixed;
    z-index: 9999;
    background-color: white;
    overflow-y: auto;
}

.typeAheadOptionsList {
    margin: 0;
    list-style: none;
    padding: 0;
}

.typeAheadOptionsListItem {
    font-size: 14px;
    overflow: hidden;
    padding: 0 15px;
    line-height: 48px;
    height: 48px;
    transition: background .15s linear;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.typeAheadOptionsListItem:hover, .typeAheadOptionsListItemSelected {
    background: rgb(238,238,238);
}