.clock {
    flex: 1;
}

.app {
    width: calc(24 * 25px);
    position: relative;
    box-sizing: border-box;
}

.app:not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
}

.app:first-child {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
}

.settingsBtn {
    cursor: pointer;
    font-size: 36px;
    border: none;
    background: none;
    height: 100%;
}

.settingsBtn, .settingsBtn:hover, .settingsBtn:focus {
    text-decoration: none;
    color: black;
    outline: none;
}

.settingsBtn:hover {
    color: rgba(0, 0, 0, .5)
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeSpanSelector {
    width: 600px;
    margin-top: 10px;
}

.timeSpanSelectorInput {
    width: 30px;
    display: inline-block;
}

.fixedPanel {
    position: sticky;
}

.fixedPanelTop {
    top: 0;
    z-index: 10;
}

.fixedPanelBottom {
    bottom: 0;
    z-index: 5;
}